@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to our page for Azure Data Fundamentals Course Project -1-.</p>
    <p>To see our database, please click <a href="/database/Index">here</a> , or the button above.</p>
</div>
